@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ag-grid */
/* set the background color of many elements across the grid */
.ag-theme-alpine {
  --ag-background-color: rgb(249 250 251);
}
/* change the font style of a single UI component */
.ag-theme-alpine .ag-header-cell-label {
  font-style: italic;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: .5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
}